.form {
    margin-bottom: 53vh;
    margin-left: 35%;
}

.label {
    font-size: 14px;
    position: relative;
    padding: 20px;
  }
  .input {
    border: none;

    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    font-size: 14px;
    margin-bottom: 2%;
  }  

 .input[type = email] {
     margin-left: 16%;
 }
.input[type = password]{
    margin-left: 11%;
}

.button{
    background-color: rgb(38, 112, 38);
    margin-left: 33%;
    border: gray;
    border-radius: 5px;
    padding: 10px;
    cursor:pointer;
}
